header {
    width: 100%;
    height: 110px;
    box-shadow: 0 4px 16px #8f8f8f;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9;
    nav {
        display: none;
        a {
            color: $azul;
            margin-left: 20px;
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
        }
        a:hover {
            border-bottom: 1px $azul solid;
        }
    }
    nav.menu-cabecalho--show{
        display: block;
        position: absolute;
        top: 100px;
        padding: 20px;
        right: 0;
        background-color: #fff;
        box-shadow: 3px 11px 14px #7d7d7d;
        border-radius: 5px;
    }
    a img.logo-cabecalho {
        position: absolute;
        top: 30px;
        left: 20px;
        height: 60px;
        width: auto;
    }
    img.icone-menu {
        position: absolute;
        top: 30px;
        right: 20px;
        height: 60px;
        width: auto;
    }
    @media (min-width: $bp-sm) {
        a img.logo-cabecalho {
            left: 40px;
        }
        img.icone-menu {
            right: 40px;
            height: 46px;
        }
    }
}

@media (min-width: $bp-md) {
    header {
        height: 190px;
        a img.logo-cabecalho {
            height: 90px;
            top: 60px;
        }
        img.icone-menu {
            height: 60px;
            top: 80px;
        }
        nav.menu-cabecalho--show {
            top: 160px;
        }
    }
}

@media (min-width: $bp-lg) {
    header {
        transition: all 0.3s ease;
        a img.logo-cabecalho {
            left: 120px;
            transition: all 0.3s ease;
        }
        img.icone-menu {
            display: none;
        }
        nav {
            display: block;
            position: absolute;
            right: 90px;
            top: 120px;
            font-size: 20px;
            transition: all 0.3s ease;
            a {
                color: $azul;
                margin-left: 20px;
                display: inline;
            }
            a:hover {
                border-bottom: 1px $azul solid;
            }
        }
        
    }
    header.small {
        transition: all 0.3s ease;
        height: 120px;
        opacity: 0.7;
        a img.logo-cabecalho {
            top: 20px;
        }
        nav {
            top: 60px;
        }
    }
}