footer{
    background-color: $laranja;
    width: 100%;
    color: #fff;
    padding-top: 80px;
    text-align: center;
    p {
        width: 70%;
        margin: 0 auto;
        font-size: 16px;
        font-family: Metropolis-light;
        margin-top: 40px;
    }
    h2 {
        font-size: 20px;
        margin-top: 80px;
    }
    ul {
        border-top: 1px #fff solid;
        margin-bottom: 40px;
        width: 40%;
        margin: 0 auto;
        padding-top: 20px;
        li {
            font-size: 16px;
            font-family: Metropolis-light;
            a {
                color: #fff;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    #footer__creditos {
        padding: 40px 0;
        background-color: #272727;
        text-align: center;
        margin-top: 80px;
    }
}

@media (min-width: $bp-lg) {
    #footer-content {
        width: 80%;
        margin: 0 auto;
        overflow: auto;
        .footer__element {
            width: 33.333%;
            float: left;
            p {
                text-align: justify;
            }
        }
    }
}