@font-face {
    font-family: "Metropolis";
    src: url('fonts/Metropolis-Regular.otf');
}
@font-face {
    font-family: "Metropolis-light";
    src: url('fonts/Metropolis-Light.otf');
}
@font-face {
    font-family: "Metropolis-bold";
    src: url('fonts/Metropolis-Bold.otf');
}
@font-face {
    font-family: "DeadIsland";
    src: url('fonts/DeadIsland.ttf');
}